* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: white;
}
.header {
  width: 100%;
  background-size: cover;
  background-position: center;
  color: black;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
.first-page {
  width: 100%;
  height: 80vh;
  background-image: url("images/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.jpeg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  padding: 80px 10px;
  color: white;
  text-align: center;
}
.form {
  width: 50% 50%;
  padding: 10px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
  background: #f7f7f8;
}
.all-forms {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-1 {
  padding: 8px;
  font-size: 12px;
  border-radius: 6px;
}
.form-2 {
  padding: 8px;
  font-size: 12px;
  border-radius: 6px;
}
.form-3 {
  padding: 8px;
  font-size: 12px;
  border-radius: 6px;
}
.signIn-form {
  background: #191e3b;
  color: white;
  padding: 18px;
  margin-top: 15px;
  width: 50% 50%;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 8px;
}
.register {
  margin-top: 10px;
  font-size: 10px;
}
h3 {
  margin: 15px;
  font-size: 20px;
}
img {
  border-radius: 10px;
  width: 300px;
}
.cities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.weekend-trips {
  background-image: url("images/929486-0_2-1dlvrbo.avif");
  background-size: cover;
  width: 100%;
  color: white;
  border-radius: 10px;
  margin: 40px;
}
.all-weekend-trips {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.heading-weekends {
  font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 20px;
}
.heading-weekends-trips {
  font-size: 20px;
  font-weight: 600;
}
.heading-weekends-offers {
  font-size: 10px;
}
small {
  font-size: 10px;
  font-weight: 900;
}
.dahlem {
  font-size: small;
}
.detached {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 800;
}
span button {
  background: #57ca61;
  border-radius: 5px;
  padding: 4px;
  border: 0;
}
.usual {
  font-size: 10px;
  font-weight: 800;
}
.reviews {
  font-size: 8px;
}
.container-usual {
  margin-bottom: 20px;
}
.amount {
  font-size: 16px;
  font-weight: 900;
}
.all-details {
  font-size: 8px;
}
